        {
            "compute_id": "local",
            "name": "OpenWrt openwrt 18.06.2",
            "usage": "Ethernet0 is the LAN link, Ethernet1 the WAN link, Ethernet2 and Ethernet3 are optional links.",
            "category": "router",
            "symbol": ":/symbols/router.svg",
            "template_type": "qemu",
            "adapter_type": "virtio-net-pci",
            "adapters": 4,
            "ram": 128,
            "console_type": "telnet",
            "options": "",
            "hda_disk_image": "openwrt-18.06.2-x86-64-combined-ext4.img",
            "qemu_path": "/usr/bin/qemu-system-x86_64",
            "template_id": "7cac23a1-d304-4813-8465-f70a0d53d6ec",
            "builtin": false,
            "platform": "i386",
            "linked_clone": true,
            "cpus": 1,
            "mac_address": "",
            "first_port_name": "",
            "port_name_format": "Ethernet{0}",
            "port_segment_size": 0,
            "console_auto_start": false,
            "boot_priority": "c",
            "hda_disk_interface": "ide",
            "hdb_disk_image": "",
            "hdb_disk_interface": "ide",
            "hdc_disk_image": "",
            "hdc_disk_interface": "ide",
            "hdd_disk_image": "",
            "hdd_disk_interface": "ide",
            "cdrom_image": "",
            "initrd": "",
            "kernel_image": "",
            "bios_image": "",
            "kernel_command_line": "",
            "legacy_networking": false,
            "on_close": "power_off",
            "cpu_throttling": 0,
            "process_priority": "normal",
            "custom_adapters": [],
            "default_name_format": "{name}-{0}"
        }
